In [233]:
import pandas as pd
import numpy as np

In [234]:
artists = pd.read_csv('artists.csv')
user_artists = pd.read_csv('user_artists.csv')
user_taggedartists = pd.read_csv('user_taggedartists.csv')
tags = pd.read_csv('tags.csv')
#Merged_table = pd.read_csv('Merged_table.csv')

In [235]:
artists.head()

,id,name,url,pictureURL
0,1,MALICE MIZER,http://www.last.fm/music/MALICE+MIZER,http://userserve-ak.last.fm/serve/252/10808.jpg
1,2,Diary of Dreams,http://www.last.fm/music/Diary+of+Dreams,http://userserve-ak.last.fm/serve/252/3052066.jpg
2,3,Carpathian Forest,http://www.last.fm/music/Carpathian+Forest,http://userserve-ak.last.fm/serve/252/40222717...
3,4,Moi dix Mois,http://www.last.fm/music/Moi+dix+Mois,http://userserve-ak.last.fm/serve/252/54697835...
4,5,Bella Morte,http://www.last.fm/music/Bella+Morte,http://userserve-ak.last.fm/serve/252/14789013...

In [236]:
artists.shape, tags.shape

((17632, 4), (11946, 2))

In [237]:
user_artists.head()

   userID  artistID  weight
0       2        51   13883
1       2        52   11690
2       2        53   11351
3       2        54   10300
4       2        55    8983

In [238]:
user_taggedartists.head()

   userID  artistID  tagID  day  month  year
0       2        52     13    1      4  2009
1       2        52     15    1      4  2009
2       2        52     18    1      4  2009
3       2        52     21    1      4  2009
4       2        52     41    1      4  2009

In [239]:
tags.head()

   tagID           tagValue
0      1              metal
1      2  alternative metal
2      3          goth rock
3      4        black metal
4      5        death metal

In [240]:
user_taggedartists.drop(['day','month','year'],axis=1,inplace=True)

In [241]:
user_taggedartists = user_taggedartists.pivot_table(index="artistID",columns="tagID", values="userID", aggfunc='count', fill_value=0)

In [242]:
user_taggedartists.head()

tagID,1,2,3,4,5,6,7,8,9,10,...,12638,12639,12640,12641,12642,12643,12644,12645,12646,12647
artistID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [243]:
user_taggedartists = user_taggedartists.add_prefix("tagID_")

In [244]:
user_taggedartists.reset_index(inplace=True)

In [245]:
user_taggedartists

tagID,artistID,tagID_1,tagID_2,tagID_3,tagID_4,tagID_5,tagID_6,tagID_7,tagID_8,tagID_9,...,tagID_12638,tagID_12639,tagID_12640,tagID_12641,tagID_12642,tagID_12643,tagID_12644,tagID_12645,tagID_12646,tagID_12647
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,2,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,0,0,0,4,0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,25,3,0,0,0,15,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,8,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12,0,0,0,4,7,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,13,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
13,14,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,15,1,0,0,12,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,20,1,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,22,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,23,0,0,0,1,0,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,24,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
23,25,7,0,0,7,3,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
24,26,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,27,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,28,2,0,0,9,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,30,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,31,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12493,18692,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
12494,18693,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
12495,18695,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
12496,18699,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12497,18704,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12498,18706,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12499,18707,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12500,18708,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12501,18709,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12502,18710,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12503,18712,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12504,18713,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12505,18714,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12506,18715,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12507,18716,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12508,18717,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12509,18719,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12510,18721,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12511,18722,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12512,18723,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12513,18724,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12514,18732,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12515,18734,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12516,18735,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12517,18736,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12518,18737,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12519,18739,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12520,18740,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12521,18741,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12522,18744,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [246]:
whole_df = artists.copy(deep=True)

In [247]:
whole_df = whole_df.rename(mapper={'id':'artistID'},axis=1)

In [248]:
whole_df.drop(['url','pictureURL'],axis=1, inplace=True)

In [249]:
whole_df.head()

       artistID                               name
0             1                       MALICE MIZER
1             2                    Diary of Dreams
2             3                  Carpathian Forest
3             4                       Moi dix Mois
4             5                        Bella Morte
5             6                          Moonspell
6             7                     Marilyn Manson
7             8                        DIR EN GREY
8             9                        Combichrist
9            10                            Grendel
10           11                           Agonoize
11           12                           Behemoth
12           13                             Hocico
13           15                       Dimmu Borgir
14           16              London After Midnight
15           17                       Psyclon Nine
16           18                    The Crüxshadows
17           19                         :wumpscut:
18           20                       Limbonic Art
19           21                Artista sconosciuto
20           22                              xotox
21           23                       The Kovenant
22           24                          Feindflug
23           25                    Cradle of Filth
24           26                            Tamtrum
25           27                            Laibach
26           28                          Gorgoroth
27           30                            And One
28           31                           Amduscia
29           32                           Covenant
...         ...                                ...
17602     18713                          Joe Beats
17603     18714                           The Opus
17604     18715                          Mr Cooper
17605     18716                            Epstein
17606     18717                             Nobody
17607     18718                     Onra & Quetzal
17608     18719                       Controller 7
17609     18720  FORCE OF NATURE, Nujabes, fat jon
17610     18721                             padmo'
17611     18722                         Fingathing
17612     18723                 Electrosoul System
17613     18724                       Nostalgia 77
17614     18725                          Mortifera
17615     18726                          Nyktalgia
17616     18727                   Atsakau  niekadA
17617     18728                 Domantas Razauskas
17618     18729                            Atalyja
17619     18730                Les Chants de Nihil
17620     18734                     The Young Gods
17621     18735                          Wiseblood
17622     18736                          LOSTFREEQ
17623     18737                      Ciccone Youth
17624     18738                           Cubanate
17625     18739                         Apollo 440
17626     18740                         Die Krupps
17627     18741                     Diamanda Galás
17628     18742                             Aya RL
17629     18743                        Coptic Rain
17630     18744                       Oz Alchemist
17631     18745                   Grzegorz Tomczak

[17632 rows x 2 columns]

In [250]:
whole_df = whole_df.merge(user_taggedartists, on='artistID')

In [252]:
whole_df.head()

,artistID,name,tagID_1,tagID_2,tagID_3,tagID_4,tagID_5,tagID_6,tagID_7,tagID_8,...,tagID_12638,tagID_12639,tagID_12640,tagID_12641,tagID_12642,tagID_12643,tagID_12644,tagID_12645,tagID_12646,tagID_12647
0,1,MALICE MIZER,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Diary of Dreams,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Carpathian Forest,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Moi dix Mois,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Bella Morte,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [253]:
user_artists = user_artists.pivot_table(values="weight",index="artistID",columns="userID",fill_value=0)

In [254]:
user_artists = user_artists.add_prefix("userID_")

In [255]:
user_artists.reset_index(inplace=True)

In [257]:
user_artists.head()

userID,artistID,userID_2,userID_3,userID_4,userID_5,userID_6,userID_7,userID_8,userID_9,userID_10,...,userID_2090,userID_2091,userID_2092,userID_2093,userID_2094,userID_2095,userID_2096,userID_2097,userID_2099,userID_2100
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,408
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [258]:
whole_df = whole_df.merge(user_artists, on='artistID')

In [259]:
whole_df.head()

,artistID,name,tagID_1,tagID_2,tagID_3,tagID_4,tagID_5,tagID_6,tagID_7,tagID_8,...,userID_2090,userID_2091,userID_2092,userID_2093,userID_2094,userID_2095,userID_2096,userID_2097,userID_2099,userID_2100
0,1,MALICE MIZER,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Diary of Dreams,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Carpathian Forest,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,408
3,4,Moi dix Mois,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Bella Morte,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0